.wrapper {
  display: none;
}

/* MOBILE STYLES */
@media only screen and (max-width: 900px) {
  .wrapper {
    display: flex;
    flex-direction: column;

    background: white;
  }

  .hamburgerLinks {
    display: flex;
  }
}
