.statusElement {
  width: 100vw;
  position: fixed;
  background: white;
}

.relativeContainer {
  display: flex;
}

.logo {
  margin: 1.38rem 0;
  font-weight: 400;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.logoInView {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.navAnimateSmall,
.navAnimateLarge {
  display: flex !important;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}

/*** 🎥 ANIMATIONS 🎥 */

/*$ ⬇️ SCROLLIN' DOWN ⬇️ ******/

/* When user scrolls InView of the area, make the navigation animate up, smaller */
.navAnimateSmall {
  display: flex;
  height: 50px;
  animation: scale-down-top 0.4s both;
}

@-webkit-keyframes scale-down-top {
  0% {
    height: 100px;
  }
  100% {
    height: 50px;
  }
}
@keyframes scale-down-top {
  0% {
    height: 100px;
  }
  100% {
    height: 50px;
  }
}

/*$ ⬆️ SCROLLIN' UP ⬆️ ******/
/* When user scrolls back up, the navigation returns to it's larger size */
.navAnimateLarge {
  display: flex;
  height: 100px;
  animation: scale-up-top 0.4s both;
}

@-webkit-keyframes scale-up-top {
  0% {
    height: 50px;
  }
  100% {
    height: 100px;
  }
}
@keyframes scale-up-top {
  0% {
    height: 50px;
  }
  100% {
    height: 100px;
  }
}

/* MOBILE STYLES */
@media only screen and (max-width: 900px) {
  .logo {
    font-size: 1rem;
    font-weight: 400;
  }

  .navAnimateLarge,
  .navAnimateSmall {
    justify-content: space-around;
  }
}
